{
  "bracketSpacing": true,
  "printWidth": 140,
  "trailingComma": "none",
  "tabWidth": 2,
  "useTabs": false,
  "importOrder": ["^react$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderCaseInsensitive": true
}
