{
  "bracketSpacing": true,
  "printWidth": 140,
  "trailingComma": "none",
  "tabWidth": 2,
  "useTabs": false,
  "importOrder": [
    "^next",
    "^react",
    "^@mui",
    "^@emotion",
    "^@",
    "^[hooks]",
    "^[utils]",
    "^[constant]",
    "^[context]",
    "^[layout]",
    "^[components]",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderCaseInsensitive": true
}
